@import "mixins";

.about {
  .title {
    @media (min-width: 800px) {
      margin-bottom: 5rem;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @media (max-width: 1250px) {
      gap: 2rem;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    gap: 10rem;

    @media (max-width: 1250px) {
      flex-direction: column;
      text-align: center;
      gap: 2rem;
    }
  }

  &__me {

    li {
      margin-bottom: 1rem;
    }
  }

  .education, .working {
    p {
      margin-bottom: 1rem;
    }

    span {
      font-weight: 700;
    }
  }

  .working {
    padding-top: 4rem;

    &__block {
      .subtitle {
        @include font(20, 16)
      }

      width: 60%;
      padding-left: 2rem;

      @media (max-width: 1250px) {
        width: 100%;
        padding: 0;
      }
    }

    @media (max-width: 1250px) {
      padding-top: 0;
    }

    .flex {
      display: flex;
      gap: 5rem;

      @media (max-width: 1250px) {
        flex-direction: column;
        gap: 2rem;
      }

      .working__block {
        width: 40%;

        @media (max-width: 1250px) {
          width: 100%;
        }
      }

      @media (max-width: 1250px) {
        padding-top: 0;
      }
    }

    > div {
      margin-bottom: 4rem;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: 1250px) {
        margin-bottom: 2rem;
      }
    }
  }
}
