.about {

  font-size: 1.2rem;

  .title {
    margin-bottom: 5rem;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    gap: 10rem;

    @media (max-width: 1250px) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__me {
    font-size: 1rem;

    li {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }

  .education, .working {
    p {
      margin-bottom: 1rem;
    }

    span {
      font-weight: 700;
    }
  }

  .working {
    padding-top: 4rem;

    &__block {
      .subtitle {
        font-size: 1.2rem;
      }
      width: 60%;
      padding-left: 2rem;
    }

    .flex {
      display: flex;
      gap: 5rem;

      @media (max-width: 1250px) {
        flex-direction: column;
        gap: 1rem;
      }

      .working__block {
        width: 40%;
      }

      @media (max-width: 1250px) {
        padding-top: 0;
      }
    }

    > div {
      margin-bottom: 4rem;
    }
  }
}
