.contacts {

  &__content {
    margin-top: 2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  &__item {
    margin-bottom: 1rem;

    a {
      color: var(--white)
    }

    .subtitle {
      margin-right: 1rem;
      display: inline-block;
    }
  }

  .map__container {
    text-align: center;
    padding: 1rem;
  }
}

#map {
  display: none !important;
  .leaflet-control-container {
    display: none !important;
  }
}
