@import "mixins";

.modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease 1s;
  display: flex;
  justify-content: center;
  padding: 2rem;
  z-index: 5;
  align-items: center;
  @include font(16, 12);

  &, &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 100vw;
  }

  &__overlay {
    background: rgba(0, 0, 0, 0.5);
  }

  &__title {
    padding: 1rem;
    background: var(--background-color);
  }

  &__slider {
    height: 100%;
    overflow-y: auto;

    .swiper {
      height: 100%;
      opacity: 0;
      transition: opacity 0.35s ease;
    }
  }

  &__slide {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    overflow-y: auto;
  }

  &__content {
    max-width: 1350px;
    width: 0;
    height: 10px;
    z-index: 5;
    overflow: hidden;
    position: relative;
    background: var(--background-color);
    transition: width 0.35s ease, height 0.35s ease;
    transition-delay: 0.7s, 0.35s;
    border: 2px solid var(--header-background-color);
  }

  &__info {
    display: flex;
    gap: 2rem;
    flex: 0 0 auto;
    padding: 1rem 2rem;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;

    .subtitle {
      font-size: 1rem;
    }

    @media (max-width: 690px) {
      display: block;
    }

    &:last-child {
      flex-grow: 1;

      .modal__block {
        min-height: 100%;
      }
    }

    &_multi {
      justify-content: space-between;

      .modal__block {
        flex: 0 0 30%;
        bottom: 0;

        @media (max-width: 690px) {
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &:first-child {
          left: -100%;
        }

        &:nth-child(2) {
          top: -100%;
        }

        &:last-child {
          right: -100%;
        }
      }
    }
  }

  &__block {
    transition: all 0.35s ease 0s;
    max-width: 1250px;
    padding: 2rem;
    position: relative;
    p {
      white-space: pre-line;
    }
    bottom: -100%;
  }

  &__close {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 1rem;
    z-index: 5;
    top: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0s;
    cursor: pointer;

    span {
      position: absolute;
      left: 0;
      top: 6px;
      width: 100%;
      height: 1px;
      transform: rotate(45deg);
      background: var(--secondary-color);

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        transform: rotate(90deg);
        background: inherit;
      }
    }

    &:hover {
      span {
        background: var(--primary-color);
      }
    }
  }

  &.open {
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;

    .swiper, .modal__close {
      transition-delay: 1s;
      opacity: 1;
    }

    .modal__block {
      transition-delay: 0.85s;

      &:first-child {
        left: 0;
        bottom: 0;
      }

      &:nth-child(2) {
        top: 0;
      }

      &:last-child {
        right: 0;
      }
    }

    .modal__content {
      width: 60vw;
      height: 900px;
      max-height: 95vh;
      transition-delay: 0.35s, 0.7s;

      @media (max-width: 1500px) {
        width: 80vw;
      }

      @media (max-width: 1024px) {
        width: 95vw;
      }
    }
  }
}
