.skills {
  &__content {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    justify-content: center;
    gap: 4rem;
    flex-grow: 1;

    @media (max-width: 1250px) {
      gap: 2rem;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__list {
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
  }

  &__collection {
    opacity: 0;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        padding-left: 1rem * ($i);
      }
    }

    @media (max-width: 600px) {
      padding-left: 0 !important;
    }
  }

  @media (max-width: 1250px) {
    .skills__collection {
      opacity: 1;
      transition: none;
    }
  }

  .skill {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    &__name {
      padding: 4px 12px 4px 18px;
      transform: translateX(-1rem);
      background: #2d2e2d;
      border-radius: 0.5rem;
    }

    &__img {
      box-sizing: content-box;
      border: 8px solid var(--background-color);
      border-radius: 50%;
      position: relative;
      z-index: 2
    }
  }

  &.show {
    .skills__collection {
      opacity: 1;
      position: relative;
      transition: opacity 0.35s linear .15s;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: .15s * $i;
        }
      }
    }
  }
}
