@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

:root {
  --primary-color: #08fdd8;
  --secondary-color: #909096;
  --background-color: #1d1d1d;
  --header-background-color: #181818;
  --white: #FFFFFF;
}

* {
  margin: 0;
  color: var(--white);
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul, li {
  list-style: none;
}

.title {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.tag-decorated {
  position: relative;
  &::after, &::before {
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 16px;
    position: absolute;
  }

  &::before {
    content: '<body>';
    left: -2rem;
    top: -2em;
  }

  &::after {
    content: '</body>';
    left: -2rem;
    bottom: -2.5em;
  }
}

h1.tag-decorated {
  &::before {
    content: '<h1>';
  }

  &::after {
    content: '</h1>';
  }
}

h2.tag-decorated {
  &::before {
    content: '<h2>';
    top: -1em;
  }

  &::after {
    content: '</h2>';
    bottom: -1.5em;
  }
}

p.tag-decorated {
  &::before {
    content: '<p>';
  }

  &::after {
    content: '</p>';
  }
}

  body {
    background: var(--background-color);
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
    color: var(--secondary-color);

    &:hover {
      color: var(--primary-color);
      transition: color 0.2s ease;
    }
  }

  button {
    padding: 12px 32px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
    font-size: 14px;
    letter-spacing: 4px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    z-index: 1;

    &:hover {
      background: var(--primary-color);
      color: var(--background-color);
      transition: background-color 0.2s linear;
    }
  }

  .content__wrapper {
    max-width: 1650px;
    padding: 0 6rem;
    margin: 0 auto;
  }

  section {
    height: 100vh;
    padding: 6rem 0;
    position: relative;
    border-bottom: 2px solid var(--header-background-color);
  }

  .header {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 48px;
    top: 0;
    left: 0;
    display: flex;
    padding: 0 64px;
    align-items: center;
    justify-content: space-between;
    background: var(--header-background-color);

    &__content {
      display: flex;
      align-items: center;
      gap: 32px;
    }

    &__nav {
      .nav__list {
        display: flex;
        justify-content: space-between;
      }

      .nav__item {
        border-right: 1px solid #282828;
        padding: 0 16px;
        height: 100%;

        a {
          font-weight: 700;
          font-size: 14px;
        }

        &:first-child {
          border-left: 1px solid #282828;
        }
      }
    }
  }

  .preview {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;

    &__content {
      position: relative;
      padding: 1rem 2rem;

      h1 {
        line-height: 100%;
        font-size: 5rem;
        font-weight: 700;
        position: relative;
        margin-bottom: 52px;

        & span {
          display: inline-block;

          &:hover {
            animation: rubberBand .7s;
            color: var(--primary-color);
          }
        }
      }

      p {
        font-size: 3rem;
        font-weight: 700;
        position: relative;
        line-height: 100%;
        transform: translateX(42px);
      }
    }
  }

  .works {
    position: relative;

    &__content {
      max-width: 500px;
    }

    &__bg {
      opacity: 0.1;
      position: absolute;
      right: -7rem;
      top: 25%;
      font-size: 20rem;
      color: var(--secondary-color);
      font-weight: 700;
      z-index: -1;
      transform: rotate(15deg);
    }
  }

  @keyframes rubberBand {
    0% {
      transform: scale(1, 1)
    }

    30% {
      transform: scale(1.25, 0.75)
    }

    40% {
      transform: scale(0.75, 1.25)
    }

    50% {
      transform: scale(1.15, 0.85)
    }

    65% {
      transform: scale(0.95, 1.05)
    }

    75% {
      transform: scale(1.05, 0.95)
    }

    100% {
      transform: scale(1, 1)
    }
  }
