section.contacts#contacts
    .section-background Contacts
    h2.title.tag-decorated Контакты
    .contacts__content
        .contacts__item
            h3.subtitle Почта:
            a(href="mailto:vdi150499@gmail.com") di150499@gmail.com
        .contacts__item
            h3.subtitle Телефон:
            | +79202387492
        .contacts__map.map
            h3.subtitle Мое месторасположение:
            .map__container
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2413698.5327649405!2d39.74950386835661!3d53.78721871878338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4139143b9cfe011d%3A0x84dab8189e36a7ff!2z0KLQsNC80LHQvtCyLCDQotCw0LzQsdC-0LLRgdC60LDRjyDQvtCx0Lsu!5e0!3m2!1sru!2sru!4v1677240826985!5m2!1sru!2sru' width='80%' height='450' style='border:0' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
