.modal
    .modal__overlay
    .modal__content
        .modal__close
            span
        h2.modal__title.subtitle
        .modal__flex
            .modal__img
            .modal__info
                .modal__description.description
                    h3.description__title.subtitle Описание:
                    p.description__content.offset
                .modal__stack.stack
                    h3.stack__title.subtitle Стек:
                    p.stack__content.offset
                .modal__url.url
                    h3.url__title.subtitle Url:
                    a.url__content.offset(href='/', target='_blank')
                .modal__github-url.github-url
                    h3.github-url__title.subtitle GitHub:
                    a.github-url__content.offset(href='/', target='_blank')