mixin renderSpanRow(string)
    for i in string.split('')
        if i !== ' '
            span=i
        else
            span &nbsp

section.preview#preview
    .preview__content.tag-decorated
        h1.tag-decorated
            +renderSpanRow('Dmitry Vezankin')
        h3.tag-decorated
            .preview__waves-wrapper
                +renderSpanRow('Frontend developer')
    button.preview__button Показать больше
