include ../data/skills

mixin renderSKillList(items)
    ul.skills__list
        for i in items
            li.skills__item.skill
                if(i.image)
                    img.skill__img(src='assets/images/skills/'+i.image width='18px' alt=i.title)
                .skill__name=i.title

section#skills.skills
    .section-background Skills
    h2.skills__title.title.tag-decorated Навыки
    .skills__content
        .skills__collection
            h3.skills__title.subtitle Classic
            +renderSKillList(skills.classic)
        .skills__collection
            h3.skills__title.subtitle State Managers
            +renderSKillList(skills.stateManagers)
        .skills__collection
            h3.skills__title.subtitle UI Frameworks
            +renderSKillList(skills.frameworks)
        .skills__collection
            h3.skills__title.subtitle Builders
            +renderSKillList(skills.builders)
