doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        link(rel="stylesheet", href="assets/css/style.min.css")
        link(rel="stylesheet", href="assets/css/swiper-bundle.min.css")
        link(rel="icon", href="assets/images/skills/react.png")
        title Dmitry Vezankin (Frontend Developer)
    body
        include ./modules/header
        .wrapper
            include ./modules/preview
            include ./modules/skills
            include ./modules/about
            include ./modules/works
        include ./modules/modals
        canvas#canvas
        script(src="assets/js/main.min.js", type='module')