-
    var characteristics = [
        'Ответственность',
        'Внимательность',
        'Целеустремленность',
        'Трудолюбие',
        'Дисциплинированность',
        'Обучаемость'
    ]

    var education = {
      period: '2016-2020',
        university: 'НИУ МИЭТ',
        faculty: 'МПиТК',
        direction: 'Инфоматика и вычистлительная техника'
    }

    var prevJobs = [
        {
            company: 'ZenCode',
            period: 'Сентябрь 2021 - Февраль 2023',
            position: 'Frontend-разработчик',
            projectsId: 'zencode',
            duties: 'Исправление багов, разработка логики пользовательского интерфейса, оптимизация, исправление сборки, ' +
                    'корректировки архитектуры приложения, корректировки линтера, верстка, коммуникации с backend-разработчиками, аналитиками и дизайнером'
        },
        {
            company: 'Fly Code',
            period: 'Август 2021 - Сентябрь 2021',
            position: 'Frontend разработчик',
            projectsId: 'fly',
            duties: 'Разработка логики пользовательского интерфейса, исправление багов, верстка'
        },
        {
            company: 'Demis Group',
            period: 'Май 2021 - Июль 2021',
            position: 'Junior Fullstack разработчик',
            projectsId: 'demis',
            duties: 'Взаимодействие с различными CMS. Seo продвижение сайтов, корректировка верстки, исправление семантики, изменение контента, фикс багов'
        },
    ]
