-
    var links = [
        {
            title: 'Главная',
            href: 'preview'
        },
        {
            title: 'Навыки',
            href: 'skills'
        },
        {
            title: 'Обо мне',
            href: 'about'
        },
        {
            title: 'Портфолио',
            href: 'works'
        },
        {
            title: 'Контакты',
            href: 'contact'
        }
    ]