-
    var modalsData = [
        {
            id: "zencode",
            projects: [
                {
                    project: "Приложение для комплексного управления производством",
                    team: ['Аналитики ~ 15 человек', 'Backend разработчики ~ 5-10 человек', 'Frontend разработчики - 5 человек', 'Тестировщики ~ 5-10 человек', 'Технический директор', 'Team lead', 'Tech lead', 'Product Manager', 'Дизайнер'].join('\n'),
                    role: 'Frontend-разработчик',
                    description:
                            'Проект является React приложением, реализованным через микрофронтенды, для ведения аналитики и статистики по технологическим процессам. Каждая часть приложения собирается через webpack.\n' +
                            'Используется собственная ui библиотека, представленная в Storybook. Все компоненты были переписаны с нуля без использования сторонних библиотек. Главным исключением является компонент таблицы, построенный на базе DevExtreme.\n' +
                            'Основные требования проекта - создание ведомостей, сравнение различных анализов качества. Также работа со справочниками - добавление новых, редактирование и удаление.\n\n' +
                            'Осуществил правки текущего функционала проекта. Реализовал отдельные функциональные блоки. Разработал графики. Создал сложные, многофункциональные компоненты, внедрил их в функциональные формы. \n\n' +
                            'Разработал с нуля большую часть компонентов для ui-библиотеки (DateTimePicker, Tabs, ModalWindow и другие). Кастомизировал таблицу из DevExtreme.',
                    stack: ['React.JS / ES6', 'TypeScript', 'Webpack', 'Eslint', 'Less', 'Css Module', 'Ant Design', 'DevExtreme', 'd3', 'MobX', 'Redux', 'Storybook', 'Figma',
                    ]
                },
                {
                    project: "Приложение на Electron JS для планирования рабочего времени",
                    team: "Full Stack - разработчик\nАналитик",
                    role: 'Full Stack разработчик',
                    description: 'Десктопное приложение для создания отчетов о трудозатратах на проектах и формирования уведомлений о начале/ завершении рабочего дня. UI реализован с помощью Chakra. Frontend собирается через сборщик vite. Для создания установочного файла под любые OC используется electron-builder. Пользователю предоставляется возможность параллельно авторизоваться  в Redmine, Jira и Gitlab. Для каждого трекера есть возможность запрашивать активные задачи и и тредозатраты за день для формирования отчетов. В случае, если пользователь не сформировал какой-либо из отчетов за день, через установленное время появляется соответствующее уведомление в OC\n\nНа проекте реализовал UI часть, добавил интеграцию React приложения с ElectornJS. Создал механизмы взаимодействия с трекером Redmine, Jira и Gitlab.',
                    stack: ['ElectronJS', 'ReactJS', 'TypeScript', 'MobX', 'ChakraUI']
                },
                {
                    project: "Telegram бот для автоматизации задач по учету рабочего времени",
                    team: ['Аналитик', 'Backend разработчик', 'Backend разработчик'].join('\n'),
                    role: 'JS-разработчик',
                    description: 'Бот для интеграции с redmine для получения трудозатрат за день, а также для созданию отчетов о трудозатратах.\n' + 'При запуске бота пользователю предлагалось ввести API Key из Redmine. После чего становились доступны команды для формирования шаблонов планов/итогов за день\n' +
                            '\n' + 'На проекте реализовал бизнес-логику бота для Telegram, слой интеграции с redmine.',
                    stack: ['NodeJS', 'Express', 'Telegraf JS']
                }
            ],
        },
        {
            id: 'fly',
            projects: [
                {
                    project: "Медицинская клиника",
                    team: ['Backend разработчик - 3 человек', 'Fronted разработчик - 4 человека ', 'Аналитики - 2 человека', 'Product Manager', 'Дизайнер'].join('\n'),
                    role: 'Frontend-разработчик',
                    description: 'Верстка и наполнение контентом новых страниц. Разработка функционала для работы с графиками посредством библиотеки Recharts, их стилизация и программирование логики для проведения анализа данных специалистами.',
                    stack: ['HTML', 'CSS', 'Less', 'JavaScript', 'Redux', 'Recharts', 'Figma']
                }
            ]
        },
        {
            id: 'demis',
            projects: [
                {
                    project: "Различные клиентские проекты",
                    team: ['web-разработчик - 2 человека'].join('\n'),
                    role: 'web-разработчик',
                    description: 'Различные задачи по доработке верстки, внесение seo правок на сайты путем взаимодействия со множеством CMS, фиксы багов, работа с контентом.',
                    stack: ['HTML', 'CSS', 'Gulp', 'JQuery', 'JavaScript']
                }
            ]
        }
    ]
