-
    var petProjects = [
        {
            id: 'game-for-memory',
            title: 'Игра для развития памяти',
            image: 'game-for-memory.png',
            description: 'Игра, в которой необходимо за отведенное время открыть все парные ячейки',
            stack: 'React, TS, Redux, Framer Motion, Scss, Eslint, Webpack',
            url: 'https://di-112.github.io/game-for-memory-react',
            githubUrl: 'https://github.com/di-112/game-for-memory-react',
        },
        {
            id: 'bets-statistics',
            title: 'Аналитика ставок на футбол',
            image: 'bets-statistics.png',
            description: 'Приложение предназначено для ведения стастики ставок на футбол с возможностью выбора лиги. Реализован собственный backend и развернут сервер на ru vds',
            stack: 'React, TS, AntDesign, MobX, Axios, Eslint, Webpack',
            stackBack: 'Sqlite, Knex, Express',
            url: 'http://195.133.48.137:3000',
            githubUrl: 'https://github.com/di-112/bets-statistics-react'
        },
        {
            id: 'books-shop',
            title: 'Магазин книг',
            image: 'books-shop.png',
            description: 'Проект представляет из себя небольшой магазин книг с возможностью фильтрации товаров и их добавления в корзину',
            stack: 'React, TS, Zustand, Material UI, React Query, Eslint, Vite',
            url: 'https://di-112.github.io/books-shop/',
            githubUrl: 'https://github.com/di-112/books-shop'
        },
        {
            id: 'layout-web-development-company',
            title: 'Верстка шаблона it-компании',
            image: 'web-development-company.png',
            description: 'Отзывчивая, адаптивная верстка макета',
            stack: 'Pug, Scss, Vanilla JS, Gulp',
            url: 'https://di-112.github.io/layout-web-development-company',
            githubUrl: 'https://github.com/di-112/layout-web-development-company'
        },
        {
            id: 'mortgage-calculator',
            title: 'Ипотечный калькулятор',
            image: 'mortgage-calculator.png',
            description: 'Приложения является формой с динамичными полями для вычисления значений',
            stack: 'React, AntDesign, CRA',
            url: 'https://di-112.github.io/mortgage-calculator',
            githubUrl: 'https://github.com/di-112/mortgage-calculator'
        },

    ]
