-
    var skills = {
        classic: [
            {
                title: 'HTML5',
                image: 'html.png'
            },
            {
                title: 'CSS3',
                image: 'css.png'
            },
            {
                title: 'Sass/Scss/Less',
                image: 'sass.png'
            },
            {
                title: 'JS (ES6)',
                image: 'js.png'
            },
            {
                title: 'TS',
                image: 'typescript.png'
            },
            {
                title: 'React',
                image: 'react.png'
            },
            {
                title: 'React Query',
                image: null
            },
            {
                title: 'React Hook Form',
                image: null
            },
        ],
        frameworks: [
            {
                title: 'AntDesign',
                image: null
            },
            {
                title: 'MaterialUI',
                image: 'material-ui.png'
            },
            {
                title: 'Chakra',
                image: null
            }
        ],
        stateManagers: [
            {
                title: 'Redux, Redux Toolkit, RTK Query',
                image: 'redux.png'
            },
            {
                title: 'MobX',
                image: null
            },
            {
                title: 'Chakra',
                image: null
            }
        ],
        builders: [
            {
                title: 'Webpack',
                image: 'webpack.png'
            },
            {
                title: 'Vite',
                image: null
            },
            {
                title: 'Gulp',
                image: null
            },
        ]
    }