-
    var skills = {
        classic: [
            {
                title: 'HTML5',
                image: 'html.png'
            },
            {
                title: 'CSS3',
                image: 'css.png'
            },
            {
                title: 'Sass/Scss/Less',
                image: 'sass.png'
            },
            {
                title: 'Pug',
                image: 'pug.png'
            },
            {
                title: 'JS (ES6)',
                image: 'js.png'
            },
            {
                title: 'TS',
                image: 'typescript.png'
            },
            {
                title: 'ESlint',
                image: 'eslint.png'
            },
            {
                title: 'React',
                image: 'react.png'
            },
            {
                title: 'React Router DOM',
                image: 'RRD.png'
            },
            {
                title: 'React Query',
                image: 'react-query.png'
            },
            {
                title: 'React Hook Form',
                image: 'react-hook-form.png'
            },
            {
                title: 'Styled Components',
                image: 'styled-components.png'
            },
            {
                title: 'Storybook',
                image: 'storybook.png'
            },
            {
                title: 'Git',
                image: 'git.png'
            },
        ],
        stateManagers: [
            {
                title: 'Redux, Redux Toolkit, RTK Query',
                image: 'redux.png'
            },
            {
                title: 'MobX',
                image: 'mobx.png'
            },
            {
                title: 'Zustand',
                image: 'zustand.png'
            }
        ],
        frameworks: [
            {
                title: 'AntDesign',
                image: 'antd.png'
            },
            {
                title: 'MaterialUI',
                image: 'material-ui.png'
            },
            {
                title: 'Dev Extreme',
                image: 'dev-extreme.png'
            },
            {
                title: 'Chakra',
                image: 'chakra.png'
            }
        ],
        builders: [
            {
                title: 'Webpack',
                image: 'webpack.png'
            },
            {
                title: 'Vite',
                image: 'vite.png'
            },
            {
                title: 'Gulp',
                image: 'gulp.png'
            },
        ]
    }
