-
  var myWorks = [
      {
        id: 'game-for-memory',
        title: 'Игра для развития памяти',
        image: 'game-for-memory.png'
      },
      {
          id: 'books-shop',
          title: 'Магазин книг',
          image: 'books-shop.png'
      }
  ]