-
  var myWorks = [
      {
        id: 'game-for-memory',
        title: 'Игра для развития памяти',
        image: 'game-for-memory.png'
      },
      {
          id: 'books-shop',
          title: 'Магазин книг',
          image: 'books-shop.png'
      },
      {
          id: 'bets-statistics',
          title: 'Аналитика ставок на футбол',
          image: 'bets-statistics.png'
      },
      {
          id: 'layout-web-development-company',
          title: 'Верстка шаблона it-компании',
          image: 'web-development-company.png'
      },
      {
          id: 'mortgage-calculator',
          title: 'Ипотечный калькулятор',
          image: 'mortgage-calculator.png'
      },

  ]
